body{
  font-size: 1.5em;
}

pre{
  margin-left: 25px;
}

.step{
}

.center-text{
  text-align: center;
}

.max-content{
  width: max-content;
}

/*******************/

#UsingTheRippledAPI {
}

#Sponsors2{
}
